.inventory-item-container {
    width: 95%;
    height: 100px;
    margin: 10px auto;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}

.inventory-item-image {
    width: 58px;
    height: 58px;
    @for $i from 1 through 4 {
        &.animation-#{$i} {
            animation: inventory-item-animation-#{$i} #{2 - (random(10) * 0.1)}s linear infinite, 
                       inventory-item-appearing 1s cubic-bezier(.69,2.05,.38,.46)
        }
    }
}

@keyframes inventory-item-appearing {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

$inventoryRotationVariation: 3;
@for $i from 1 through 4 {
    $rotationDirection: random(2);
    $degrees: 0;
    @if $rotationDirection == 1 {
        $degrees: -2 - random($inventoryRotationVariation);
    } @else {
        $degrees: 2 + random($inventoryRotationVariation);
    }
    @keyframes inventory-item-animation-#{$i} {
        0% {
            transform: scale(1.0);
            transform: rotate(0deg);
        }
        50% {
            transform: scale(1.1);
            transform: rotate(#{$degrees}deg);
        }
        100% {
            transform: scale(1.0);
            transform: rotate(0deg);
        }
    }
}
