.start-screen-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/start-screen-background.jpeg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  width: 10%;
  height: 10%;
  font-size: 2em;
  cursor: pointer;
}