@import '~variables';

.mouth-view-container {
    width: 25%;
    background-color: $themeColor5;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/back-dente.jpg');
}
