.mouth-container {
  position: relative;
  height: 512px;
  width: 512px;
  cursor: url(~assets/teeth-brushing_cursor.png), pointer;
}

.mouth-wrapper {
  top: 0;
  left: 0;
  position: absolute;
}

$toothbrushSpeed: .15s ease 0s;
.toothbrush-controller {
  position: absolute;
  transition: left $toothbrushSpeed, top $toothbrushSpeed;
}

.toothbrush {
  width: 200px;
  height: 200px;
}
