.score-container {
  background: whitesmoke;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15% 0;
  opacity: 0.95;
  width: 100%;
  & h2 {
    font-weight: bold;
  }
  & h4 {
    font-weight: 600;
  }
}
