.unavailable-item {
    -webkit-filter: grayscale(20%) brightness(70%);
    filter: grayscale(20%) brightness(70%);
}

.unavailable-item-price {
    font-size: 1.2vw;
    color: rgb(238, 0, 52);
}

.unavailable-item-image {
    width: 90px;
    height: 100%;
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
}