@import '~variables';

.middle-view-container {
    width: 50%;
    background-color: $themeColor2;
    align-content: center;
    text-align: center;
    padding: 10px 0;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: $themeColor3;
    box-shadow: inset 0px 1px 17px -7px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
}

.inventory-item-wrapper {
    padding: 0 20px;
}